<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @square.name %>
</p>

<p>
  <strong>Board:</strong>
  <%= @square.board_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @square.state %>
</p>

<%= link_to 'Edit', edit_square_path(@square) %> |
<%= link_to 'Back', squares_path %>
